*
{
font-family:Open Sans, Helvetica;
}


img
{
float:left;
margin-right:25px;
margin-left:0px;
margin-top:10px;
margin-bottom:10px;
}

#main{
text-align:left;
float:left;
}

.nav{
    border:0.5px solid #ccc;
    border-width:0px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
	font-size:24px;
	font-weight:normal;
}

h1{
font-size: 36px;
}

h4{
font-weight:normal;
}

a:link,a:visited
{
padding:10px;
width:250px;
height:40px;
font-weight:normal;
color:#FFFFFF;
background-color:#0D5686;
text-align:center;
text-decoration:none;
}

div{
clear:both;
}

a:hover,a:active
{
background-color:#4186D3;
}

.writing li a{
text-decoration:none;
background-color:#FFFFFF;
color:#4186D3;
padding:0px;
}

#content p a{
text-decoration:none;
background-color:#FFFFFF;
color:#4186D3;
padding:0px;
}

#TFM a{
background-color:#FFFFFF;
}
