*
{
font-family:Helvetica;
}

img
{
float:left;
margin-right:25px;
margin-left:0px;
margin-top:10px;
margin-bottom:10px;
}


li
{
display:inline;
align:center;
width: 200px;
float:center
}

ul li a
{
width:1000px;
font-weight:bold;
color:#FFFFFF;
background-color:gray;
text-align:center;
padding:2px;
text-decoration:none;
text-transform:uppercase;
float:center
}

p ul li a
{
text-decoration:none;
}
#footer {
    height:60px;
    width:2000px;
    background-color: gray;
    font-family: Helvetica;
    font-size:12px;
    clear:both;
}