img
{
float:left;
margin-right:25px;
margin-left:0px;
margin-top:10px;
margin-bottom:10px
width:238px;
height:438px
}

tr
{
text-align:center;
font-size:14px;
float:center;
padding:10px;
}
*
{
font-family:Helvetica
}
iframe
{
float:bottom;
}